.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: black;
  opacity: .5; */
  /* Не понимаю как мне сделать opacity чтобы при этом форма не наследовала его */
}


