.profile__paragraph {
  font-size: 18px;
  line-height: 1.22;
  margin: 0;
  max-width: 500px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media screen and (max-width: 1050px) {
  .profile__paragraph {
    margin: 0 auto 36px;
  }
}

@media screen and (max-width: 590px) {
  .profile__paragraph {
    font-size: 14px;
  }
}
