.profile__button-edit {
  background-color: inherit;
  border: none;
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-left: 18px;
  padding: 0;
  font-size: 24px;
}

.profile__button-edit:hover {
  opacity: .6;
}

@media screen and (max-width: 1050px) {
  .profile__button-edit {
    margin: 0;
  }
}
