.elements {
  max-width: calc(100% - 400px);
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 282px));
  grid-template-rows: repeat(2, minmax(200px, 361px));
  gap: 17px;
}

@media screen and (max-width: 890px) {
  .elements {
    grid-template-columns: repeat(2, minmax(282px, 1fr));
    grid-template-rows: repeat(3, minmax(361px, 1fr));
  }
}
