.profile__button-add {
  background-color: inherit;
  cursor: pointer;
  padding: 0;
  min-height: 50px;
  width: 150px;
  border: 2px solid #fff;
  box-sizing: border-box;
  border-radius: 2px;
  position: absolute;
  right: 0;
}

.profile__button-add:hover {
  opacity: .6;
}

@media screen and (max-width: 1050px) {
  .profile__button-add {
    width: 100%;
    position: relative;
  }
}
