.profile__info {
  display: flex;
  /* max-width: 450px; */
  flex-wrap: wrap;
  align-items: center;
  margin-left: 10px;
  /* overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; */
}


@media screen and (max-width: 1024px) {
  .profile__info {
    max-width: 100%;
    margin: 0;
  }
}
