.profile__info {
  display: flex;
  max-width: 500px;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 30px;

}


@media screen and (max-width: 1050px) {
  .profile__info {
    max-width: 100%;
    margin: 0;
  }
}
