.element__button {
  border: none;
  background-color: initial;
  cursor: pointer;
  padding: 0;
}

.element__button:hover {
  opacity: .5;
}

.element__button:active {
  background-color: black;
}


