.popup__button_action_close {
  position: absolute;
  top: -40px;
  right: -40px;
  background-color: initial;
  border: none;
  cursor: pointer;
  padding: 0;
}

.popup__button_action_close:hover {
  opacity: .6;
}

@media screen and (max-width: 550px) {
  .popup__button_action_close {
    right: 0;
    top: -58px;
  }
}
